

.tooltip {
    position: absolute;
    z-index: 500;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 3px solid rgb(138, 138, 138);
    border-radius: 100%;
    top: 0px;
    left: 0px;
}